In [1]:
import pandas as pd
import geopandas as gpd

In [7]:
wahlbezirke = gpd.read_file('../../Daten/wahlbezirke.shp')
wahlbezirke = wahlbezirke.rename(columns = {'Gebietsnum': 'Gebietsnummer'})

In [9]:
wahlbezirke.to_file('../../Daten/wahlbezirke_new.shp')

In [4]:
wahl_2013 = pd.read_csv('../../Daten/bt_wahl_13/erst_und_zweit.txt', sep = ';')

In [4]:
wahl_2013.head()

   Name  Karte 1  Karte 2
0  3001     35.9     25.2
1  3002     33.3     23.7
2  3003     36.3     27.2
3  3004     36.8     25.0
4  3005     34.3     27.2

In [6]:
wahl_2013 = wahl_2013.rename(columns = {'Name': 'Gebietsnummer', 'Karte 1': 'Erststimme', 'Karte 2': 'Zweitstimme'})

In [7]:
wahl_2013.head()

   Gebietsnummer  Erststimme  Zweitstimme
0           3001        35.9         25.2
1           3002        33.3         23.7
2           3003        36.3         27.2
3           3004        36.8         25.0
4           3005        34.3         27.2

In [9]:
wahl_2013.to_csv('../../Daten/bt_wahl_13/erst_und_zweit.csv')